extends layout
block content
    h1 Create new discussion
    form(action='', method='post')
    div
        label(for='title') Title
        input#title(name="title")
    div
        label(for='desc') Description
        input#desc(name="desc")
    div
        input(type='submit', value='Create')
