extends layout
block content
    h1 Welcome #{user}
    div
        a(href='/logout') logout
    div
        a(href='/discussion/create') create a new discussion
    div
        a(href='/discussion/' + id) discussion #{id}